.post-card {
    background-color: white;
    width: 70vw; 
    margin: 20px; 
    display: flex;
    flex-direction: column;
}

.post-card-header, .post-card-body, .post-card-footer {
    padding: 15px; 
}

.post-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-card-footer {

  
}
.post-card-body{

}
.post-title{
    color: black; 
    font-size: 22px; 
    font-weight: bold; 
    text-decoration: none; 
    cursor: pointer;
}
.post-title:hover {
    text-decoration: underline; 
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.username{
    padding-left: 10px;
    font-size: 18px;
}
.post-icons{
    display: flex;
    align-items: center;
}
.icon-text {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.icon-text i {
    margin-right: 5px; 
}